<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>

      <ion-title>Componentes</ion-title>
  </ion-toolbar>
  <ion-avatar>
    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcOOPjwG2-hVUwxsqruDOqsKBo0CaGW2GIaQ&usqp=CAU">
  </ion-avatar>
</ion-header>

<ion-content>


  <ion-button routerLink="/alert" color="danger">
    Alert
  </ion-button>

<ion-content>
   <ion-button routerLink="/action-sheet" color="success">
    Action sheet
   </ion-button>


      
</ion-content>
