<ion-header>
  <ion-toolbar color="danger"> 

    <ion-buttons>
      <ion-back-button text="back"></ion-back-button>
    </ion-buttons>


    <ion-title></ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
 
  
  <ion-item>
    <ion-label>MM DD YY</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
</ion-item>

  <ion-card>
    <ion-card-header>
      <img src="https://www.elheraldodetabasco.com.mx/local/4lf62u-muse2-copia.jpg/ALTERNATES/LANDSCAPE_400/Muse2%20copia.jpg " alt="">
      <ion-card-title>Tabasco</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Información de tabasco Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa non sit fugiat quibusdam impedit, quae, et commodi enim porro modi soluta nisi aliquid consectetur animi mollitia est quisquam.
       Sit, aliquam.
    </ion-card-content>
  </ion-card>
  
  <ion-item>
    <ion-label position="stacked">Escribe tu comentario</ion-label>
    <ion-input></ion-input>
  </ion-item>

  
</ion-content>
